## .NET
bin/
obj/
*.user
*.suo
*.userosscene
*.userprefs
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Secrets
appsettings.*.local.json
secrets.json

## Visual Studio
.vs/
*.sln.docstates

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## Logs
*.log
web-run.*.log

## Temp
__pycache__/
