@inherits LayoutComponentBase

<div class="admin-layout">
    <nav class="navbar navbar-expand-lg admin-navbar">
        <div class="container-fluid px-0">
            <a class="navbar-brand" href="/admin/faqs">
                R
                Admin Panel
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#admin-nav" style="border-color:rgba(255,255,255,0.2);">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="admin-nav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/faqs">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/company">Company Info</a>
                    </li>
                </ul>
                <a class="btn-back" href="/">Back to Chat</a>
            </div>
        </div>
    </nav>

    <div class="admin-content">
        @Body
    </div>
</div>
